@{
    ViewData["Title"] = "Guest User";
}


@model BMI.Models.UserDetails


@using (Html.BeginForm("GuestUser", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @*  @Html.DescriptionValueFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })*@
                <br />
                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-7">
                @* @Html.DescriptionValueFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })*@
                <br />
                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>@ViewBag.Error</h4>
        <input type="submit" value="Get BMI Report" />
    </div>
}

<h3>@ViewData["BMI"]</h3>